<!DOCTYPE html>
<html>
    <head>
    <meta http-equiv="Content Type" content='text/html; charset=UTF-8' />
    </head>
    <body>
        <h1>Welcome: <%=@player.username%>  </h1>
        <p>Thanks for signing up to play the game.  </p>
    </body>
</html>