<h1>Editing leaderboard</h1>

<%= render "form", leaderboard: @leaderboard %>

<br>

<div>
  <%= link_to "Show this leaderboard", @leaderboard %> |
  <%= link_to "Back to leaderboards", leaderboards_path %>
</div>
