<p style="color: green"><%= notice %></p>

<h1>Leaderboards</h1>
<h2>Player - Points</h2>
<div id="leaderboards">
  <% @leaderboards.sort_by(&:points).reverse.each do |leaderboard| %>
    <%= render leaderboard %>  
    <%= leaderboard.player.username + "  -----  " + leaderboard.points.to_s %> <br><br>
  <% end %>
</div>
