<p style="color: green"><%= notice %></p>

<h1>Leaderboards</h1>

<div id="leaderboards">
  <% @leaderboards.each do |leaderboard| %>
    <%= render leaderboard %>
    <p>
      <%= link_to "Show this leaderboard", leaderboard %>
    </p>
  <% end %>
</div>

<%= link_to "New leaderboard", new_leaderboard_path %>
