@import '_layout';
$primary: #17a33c;
$link: #17a33c;
$dark: #e8e656;
$danger: #ed1c1c;
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
$family-sans-serif: 'Roboto', sans-serif;
@import 'bulma';

