<!-- app/views/players/home.html.erb -->

<section class="section">
  <div class="container">
    <div class="box has-text-centered">
      <h1 class="title">Welcome <%= @player.username %></h1>
        <div class="buttons is-centered">
        <%= link_to "Matches", all_matches_path, class: "button is-primary" %>
        <%= link_to "Leaderboard", leaderboards_path, class: "button is-primary" %>
        <%= link_to "Make a Prediction", new_prediction_path, class: "button is-primary" %>
        </div>
    </div>


  </div>
</section>
