<style>
  /* Estilo personalizado para ajustar la card */
  .custom-card {
    height: 50vh; /* Puedes ajustar esta altura según tus necesidades */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Ajustar el tamaño del icono y agregar espaciado entre el icono y el texto */
  .custom-card .icon {
    font-size: 6rem;
    margin-bottom: 1rem;
  }

  /* Estilo para el texto del título */
  .custom-card .title {
    margin-top: 30%;
  }

  /* Alinear los títulos de las cards entre sí */
  .columns {
    align-items: center;
  }
</style>

<section class="section">
  <div class="container">
    <div class="box has-text-centered has-background-primary-light">
        <img src="<%= asset_path('logo.svg') %>" alt="icon" class="logo">
    <div class="card-content has-text-centered">
        <h1 class="subtitle">Football Pools like never before! </h1>
        <p class="subtitle">Please login or register to start playing</p>
    </div>
    </div>
   </div>
</section>
