<!DOCTYPE html>
<html>
<head>
  <title>Football Pools App</title>
  <style>
    .gif {
      max-width: 40%;
      height: auto;
    }

    .app-title {
      color: #17a33c;
    }
  </style>
</head>
<body>
  <section class="section">
    <div class="container">
      <div class="box has-text-centered has-background animate__animated animate__slideInUp animate__faster">
        <div class="card-content has-text-centered">
          <h1 class="title is-1">
            Quiniel<span class="app-title">App</span>
          </h1>
          <p class="subtitle is-4 mt-3">Football Pools like never before.</p>
          <p class="subtitle is-6 mt-2">Please login or register to start playing</p>
          <div class="buttons is-centered mt-5">
            <a href="/home/players/login" class="button is-primary">Login</a>
            <a href="/home/players/sign_up" class="button is-link">Register</a>
          </div>
        </div>
        <%= image_tag('gif/ball.gif', alt: 'icon', class: 'gif') %>
      </div>
    </div>
  </section>
</body>
</html>
